<div id="<%= dom_id movement %>">
  <p>
    <strong>Name:</strong>
    <%= movement.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= movement.amount %>
  </p>

    <p>
    <strong>Date:</strong>
    <%= movement.created_at.strftime("%e %b %y") %>

  </p>

</div>
