<h1>New transaction</h1>

<%= render "form", movement: @movement %>

<br>

<div>
  <%= link_to "Back to groups", :back %>
  <%# <%= link_to "Back to expenses", category_expenses_path(@category) %>
</div>
