

<% if @group_movements.empty? %>
  <h2 class="splash-welcome">There are not transactions yet!</h2>
  <p class="splash-text">Create a transaction for this category by clicking on the button below.</p>
<% else %>
  <h3>Movements</h3>
  <h1>end</h1>
<% end %>

