
<div class="expenses">
  
  <div class="expenses-list">

  <%# <% @group.movements.each do |expense| %>
    <%# <%= render expense %>
  <%# <% end %>

  </div>
  <button class="">
  <%# <%= link_to "New Expense", new_category_expense_path(@category), class: '' %>
  </button>
</div>