<section id="<%= dom_id group %>">
  
  <article class='row container-md '>

    <div class='col-2 d-flex justify-content-center px-4'>
      <h1><%= group.icon %></h1>
    </div>

    <div class='col d-flex align-items-center'>
      <h2>
        <%= group.name %>
      </h2>
    </div>

    <h2 class='col d-flex align-items-center'>
      <% total = 0.00 %>
      <% group.group_movements.each {|group_movement| total += group_movement.movement.amount} %>
      <span class="amount">$<%= total %></span>
    </div>

  </article>

</section>
