<section id="<%= dom_id group %>">
  
  <article class='row '>

    <div class='col-3 d-flex justify-content-center'>
      <img src='<%= group.icon %>' alt = '[Logo for <%= group.name %>]' style='width: 70%; max-height: 50px;' class=''>
    </div>

    <span class='col d-flex align-items-center'><h2><%= group.name %></h2></span>

  </article>

</section>
