<section id="<%= dom_id group %>">
  
  <article class='row container-md '>

    <div class='col-2 d-flex justify-content-center px-4'>
      <h1><%= group.icon %></h1>
    </div>

    <span class='col d-flex align-items-center'>
      <h2>
        <%= group.name %>
      </h2>
    </span>

  </article>

</section>
