<p style="color: green"><%= notice %></p>

<%# <h1>Categories</h1> %>

<div id="groups">
  <% @groups.each do |group| %>

    <div>
      <%= link_to group do %>
        <%= render group %>
      <% end %>
    </div>
    <br />

  <% end %>
</div>

<%= link_to "New category", new_group_path %>
