<p style="color: green"><%= notice %></p>

<%# <h1>Categories</h1> %>

<div id="groups">
  <% @groups.each do |group| %>

    <div class='d-flex justify-content-center'>
      <%= link_to group do %>
        <%= render group %>
      <% end %>
    </div>
    <br />

  <% end %>
</div>

<div class='btn btn-success text-white badge mx-2'>
  <%= link_to "New category", new_group_path, class: 'link-light' %>
</div>
