<div id="<%= dom_id group_movement %>">
  <p>
    <strong>Group:</strong>
    <%= group_movement.group_id %>
  </p>

  <p>
    <strong>Movement:</strong>
    <%= group_movement.movement_id %>
  </p>

</div>
