<section class="container-fluid" style=''>

  <p class="bg-white border pe-2 border-dark rounded position-absolute top-50 start-50 translate-middle mb-5 splash text-center">Welcome to my Budget</p>
 
</section>

<div class=' container-fluid border d-flex flex-column gap-3 position-absolute bottom-0 start-50 translate-middle-x mb-4'>

  <button class="btn btn-primary">
    <strong><%= link_to 'LOG IN', new_user_session_path, class: 'link-light' %></strong>
  </button>

  <div class="d-flex justify-content-center align-items-md-center">
    <strong><%= link_to 'SIGN UP', new_user_registration_path, class: '' %></strong>
  </div>

</div>