<div class="button-container">

  <h2 class="">Welcome, <%= current_user.name %></h2>
  <p class="">You are signed in.</p>
  <%= button_to 'Go to categories (Groups)', groups_path, method: :get, class: '' %>

</div>