<div class="">

  <h2 class="">Welcome</h2>

  <button class=""><%= link_to 'Log In', new_user_session_path, class: '' %></button>
  <button class=""><%= link_to 'Sign Up', new_user_registration_path, class: '' %></button>



  
</div>