<div class="">

  <h2 class="">Welcome</h2>

  <button class=""><%= link_to 'LOG IN', new_user_session_path, class: '' %></button>
  <button class=""><%= link_to 'SIGN UP', new_user_registration_path, class: '' %></button>

</div>